// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

$primary-blue: #0F2C67;
$primary-red: #CD1818;
$primary-orange: #F3950D;
$primary-yellow: #F4E185;

$sport: #B0EAEB;
$solidarite: #f14d3b;
$education-jeunesse:#e1f343;
$culture: #bb6aee;
$petite-enfance: #FB30DF;
$sante: #0e7502;
$dev-durable: #73f356;
$dialogue-citoyen: #f9b039;
$commemoration: #52d2fd;
$autre: #7C7C7E;


// $secondary-blue: #0F2C67;
// $secondary-red: #CD1818;
// $secondary-orange: #F3950D;
// $secondary-yellow: #F4E185;
