// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-blue: #0F2C67;
$primary-red: #CD1818;
$primary-orange: #F3950D;
$primary-yellow: #F4E185;


// $secondary-blue: #0F2C67;
// $secondary-red: #CD1818;
// $secondary-orange: #F3950D;
// $secondary-yellow: #F4E185;
