// Specific CSS for your home-page

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: -webkit-fill-available;
  }
}



.home-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-image: url('familly.jpg');
  background-size: cover;
  background-position: top;
  height: 84vh;
  width: 100 vw;
  text-align: center;

  div {
  color:white;
  margin: 10px;
}

}

h1 {
  color:white;
  font-weight: 700;
  font-size: 3rem;
  font-style: italic;
}

.preventstyle {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

.home-pictures img {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
  margin-right: 1rem;
}


.corner-radius {
  border-bottom-right-radius: 10px !important;
}

.home-font-date {
  font-size: .9rem !important;
  font-weight: bold !important;
  background-color: transparent !important;
  color: rgb(80, 76, 76) !important;
}
