.card {
  border: none;
  background-color: white;
  width: 70%;
  border-radius: 1rem;
}

.card-header {
  border: none;
  background-color: white;
  height: 8rem;
  border-radius: 1rem;

  &:first-child {
    border-radius: 1rem;
  }

  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1em;
    color: lightgray;
  }
  .info-event-header {
    width: 60%;
  }
  .address {
    font-size: 1em;
  }
  .info-dates {
    width: 9rem;
    background-color: #F9D5A7;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .primary-icon {
    height: 100%;
    width: 8rem;
    place-content: center;
    display: grid;
  }
}

.district p {
  border-radius: 20px;
}

.btn-success, .btn-decline {
  border-radius: 10px;
}

.btn-decline {
  background-color: #DDD;
  color: white;
}

.address p {
  font-size: 0.8em;
}

.district {
  border-radius: 10px;
  background-color: #F9D5A7;
}

.bold {
  font-weight: bold;
}

.collapse {
  .card-body {
    padding: 0;
  }
  .info-dates {
    width: 9rem;
    background-color: lightgray;
  }
}

.icone {
  height: 100%;
  width: 8rem;
  place-content: center;
  display: grid;
}
