.show-marker {
  background-color: white !important;
  color: #0F2C67 !important;
}

.show-distric {
  background-color: white !important;
  color: #0F2C67 !important;
  border: 1px solid #0F2C67;
}

.show-picture img{
  width: 500px !important;

}
.index-cards {
  margin-left: 5rem !important;
}

.card {
  border: none;
  border-radius: 10px;
  width: 70%;
  padding-right: 0;

  .card-header {
    border-radius: 10px;
    border: none;
    background-color: white;
    height: 8rem;

    .primary-icon {
      height: 100%;
      width: 8rem;
      place-content: center;
      display: grid;
    }

    .validations {
      width: 10rem;
    }
    .info-event-header {
      width: 44rem;

      .bold {
        font-weight: bold;
      }

      h4 {
        font-size: 1.3em;
      }
      h5 {
        font-size: 1em;
        color: lightgray;
      }
    }
    .home-info-event-header {
      width: 100%;

      h4 {
        font-size: 1.3em;
      }
      h5 {
        font-size: 1em;
        color: lightgray;
      }
    }
    .address {
      font-size: 0.8em;
      .fa-map-marker-alt {
        color: #0F2C67;
      }
      .clear-text {
        opacity: .5;
      }
      .district {
        background-color: white;
        border-radius: 15px;
        color: #0F2C67;
        padding: 3px 20px;
        border: 1px solid #0F2C67;
      }
    }

    .fa-window-close {
      color: #EB5353;
    }

    .fa-pen-square {
      color: #94BF1A;
    }



    .btn-decline {
      background-color: #EB5353;
      color: white;
      border-radius: 10px;
    }

    .btn-accept {
      background-color: #94BF1A;
      border-radius: 10px;
    }

    .info-dates {
      width: 8rem;
      background-color: #94BF1A;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 10px;
      font-size: 0.7rem;
      border-bottom-right-radius: 0;

      &.border-radius-collapse {
        transition: border-bottom-right-radius 0.1s;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .cat {
    margin: 0;
  }

  .card-body {
    padding: 0;
    // width: 70rem;
      height: 100%;
  .info-dates {
      width: 8rem;
      background-color: #94BF1A;
      height: auto;
      border-bottom-right-radius: 10px;
    }

    .icone {
      height: 100%;
      min-width: 4rem;
      place-content: center;
      display: grid;
    }

    // .category {
    //   color: #7979DE;
    // }
    // .fa-euro-sign {
    //   color: #7979DE;
    //   opacity: 0.7;
    // }

    // .utiles-info h6 {
    //   color: #7979DE;
    //   opacity: 0.7;
    // }

    // .fa-address-card {
    //   color: #7979DE;
    //   opacity: 0.4;
    // }

    // .referent-name, .referent-num {
    //   color: #7979DE;
    //   opacity: 0.5;
    // }

    .collapse-all {
      width: 62rem;
      flex-grow: 1;
      padding: 1rem;
    }

    .infos-event, .logistique {
      padding-top: 2em;
      width: 29rem;
      flex-grow: 1;
    }

    .secondary-info {
      font-size: 0.8em;
    }

    .infos-securite {
      .secu {
        color: #EB5353;
      }
    }

    .infos-matos h6{
      background-color: #CADF8D;;
      border-radius: 10px 10px 0 0;
      padding: 1em;
      margin-bottom: 0;
    }

    .remarques h6 {
      background-color: #CADF8D;;
      border-radius: 10px 10px 0 0;
      padding: 1em;
      margin-bottom: 0;
    }

    .text-infos {
      border: lightgray 1px solid;
      border-radius: 0 0 10px 10px;
    }
  }
}

.card-home {
  width: 100%;
}

.hover-shadow:hover {
  box-shadow: 0 1px 2px lightgrey;
  transition: box-shadow 0.2s linear;
}

.accepted {
  color: #94BF1A;
  border-radius: 50%;
  text-shadow: #94BF1A 1px 0 10px;

}

.canceled {
  color: lightgray;
  border-radius: 50%;

}

.declined {
  color: #EB5353;
  border-radius: 50%;
  text-shadow: #EB5353 1px 0 10px;
}

.pending {
  color: orange;
  border-radius: 50%;
  text-shadow: orange 1px 0 10px;
}
.edit-status {
  width: 13rem;
  height: 8rem;
}

.status-event {
  align-items: center;
  p {
    margin: 0;
    font-size: 0.9rem;
    padding-right: 1em;
  }
  i {
    height: 12px
  }
}

.bold {
  font-weight: bold;
}

.disabled-card {
  filter: grayscale(1);
}

.edit-event {
  justify-content: right;
  padding-right: 10px;
}

.accept-event {
  padding-right: 5px;
}

.cancel-event {
  border: none;
  padding: 0;
  height: 12px;
}

.edit-icon {
  padding-right: 5px;
}

.title-page {
  letter-spacing: 7px !important;
  color: grey;
}

.declined-explanation {
  h6 {
    background-color: $danger;
    border-radius: 10px 10px 0 0;
    padding: 1em;
    margin-bottom: 0;
  }
}
