.sport-color {
  color: $sport !important;
}
.solidarite-color {
  color: $solidarite !important;
}
.education-jeunesse-color {
 color: $education-jeunesse !important;
}
.culture-color {
  color: $culture !important;
}
.petite-enfance-color {
  color: $petite-enfance !important;
}
.sante-color {
  color: $sante !important;
}
.dev-durable-color {
  color: $dev-durable !important;
}
.dialogue-citoyen-color {
  color: $dialogue-citoyen !important;
}
.commemoration-color {
  color: $commemoration !important;
}
.autre-color {
  color: $autre !important;
}



.sport-bg {
  background-color: $sport;
}
.solidarite-bg {
  background-color: $solidarite;
}
.education-jeunesse-bg {
 background-color: $education-jeunesse;
}
.culture-bg {
  background-color: $culture;
}
.petite-enfance-bg {
  background-color: $petite-enfance;
}
.sante-bg {
  background-color: $sante;
}
.dev-durable-bg {
  background-color: $dev-durable;
}
.dialogue-citoyen-bg {
  background-color: $dialogue-citoyen;
}
.commemoration-bg {
  background-color: $commemoration;
}
.autre-bg {
  background-color: $autre;
}
