.sport-bg {
  border: 1px solid $sport;
}
.solidarite-bg {
  border: 1px solid $solidarite;
}
.education-jeunesse-bg {
 border: 1px solid $education-jeunesse;
}
.culture-bg {
  border: 1px solid $culture;
}
.petite-enfance-bg {
  border: 1px solid $petite-enfance;
}
.sante-bg {
  border: 1px solid $sante;
}
.dev-durable-bg {
  border: 1px solid $dev-durable;
}
.dialogue-citoyen-bg {
  border: 1px solid $dialogue-citoyen;
}
.commemoration-bg {
  border: 1px solid $commemoration;
}
.autre-bg {
  border: 1px solid $autre;
}


.sport-color {
  color: $sport;
}
.solidarite-color {
  color: $solidarite;
}
.education-jeunesse-color {
 color: $education-jeunesse;
}
.culture-color {
  color: $culture;
}
.petite-enfance-color {
  color: $petite-enfance;
}
.sante-color {
  color: $sante;
}
.dev-durable-color {
  color: $dev-durable;
}
.dialogue-citoyen-color {
  color: $dialogue-citoyen;
}
.commemoration-color {
  color: $commemoration;
}
.autre-color {
  color: $autre;
}
