.sport-color {
  color: $sport;
}
.solidarite-color {
  color: $solidarite;
}
.education-jeunesse-color {
 color: $education-jeunesse;
}
.culture-color {
  color: $culture;
}
.petite-enfance-color {
  color: $petite-enfance;
}
.sante-color {
  color: $sante;
}
.dev-durable-color {
  color: $dev-durable;
}
.dialogue-citoyen-color {
  color: $dialogue-citoyen;
}
.commemoration-color {
  color: $commemoration;
}
.autre-color {
  color: $autre;
}
