// .input-classic {
  //   width: 30rem;
  // }

  // .uppercase {
    //   text-transform: uppercase;
    // }


  .half-width {
    flex-grow: 1;
  }

  .input-half-width {
    display: flex;
    margin: 4px;
  }

.form-container-global {
  background-image: url('stage.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
    color: white;
  }
}

.form-container {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: black;
  width: 50vw;
  margin: 30px;
  background-color: rgba(255,255,255,0.9);
  padding: 30px;
  min-height: 70vh;

}


.form-container-category {
  // position: relative;
  // display: flex;
  // justify-content: center;
  // border: 1px solid black;
  // border-radius: 12px;
  // box-shadow: black;
  // width: 50vw;
  // margin: 30px;
  // background-color: rgba(195,195,195,0.8);
  // padding: 30px;
}

.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // grid-gap: 10px;

  :last-child {
    grid-column: 2;
  }
}

.category-item {
  display: grid;
  place-content: center;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  // font-weight: bold;
  // display: block;
  cursor: pointer;
  height: 140px;
  width: 140px;
  // font-size: 16px;
  // text-align: center;
  // border: 1px solid $primary-blue;
  border-radius: 12px;
  // border-radius: 12px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;

}

.category-selector + label:hover {
  // font-weight: bold;
  // height: 100px;
  // width: 100px;
  // display: block;
  // cursor: pointer;
  // box-sizing: border-box;
  // height: 140px;
  // width: 140px;
  // font-size: 16px;
  // text-align: center;
  // padding: 10px 10px 30px 10px;
  // border: 1px solid $primary-blue;
  // border-radius: 4px;
  // border-radius: 12px;
  // padding: 10px;
  // background-origin: padding-box;
  // background-repeat: no-repeat;
  // background-size: 40px;
  // background-position: center;


}

.category-selector:checked + label {
  // color: white !important;
  // border: 2px solid $primary-blue;
}

#event_category_culture + label {
background-image: image_url('Culture-w.svg');
}
#event_category_culture + label:hover {
background-image: image_url('Culture-grey.svg');
}
#event_category_culture:checked + label {
  background-image: image_url('Culture-colored.svg');
}

#event_category_sport + label {
  background-image: url('Sport-w.svg');
}
#event_category_sport + label:hover {
  background-image: url('Sport-grey.svg');
}
#event_category_sport:checked + label {
  background-image: url('Sport-colored.svg');
}

#event_category_education-jeunesse + label {
  background-image: url('Education-Jeunesse-w.svg');
}
#event_category_education-jeunesse + label:hover {
  background-image: url('Education-Jeunesse-grey.svg');
}
#event_category_education-jeunesse:checked + label {
  background-image: url('Education-Jeunesse-colored.svg');
}

#event_category_developpement_durable + label {
  background-image: url('Developpement durable-w.svg');
}
#event_category_developpement_durable + label:hover {
  background-image: url('Developpement durable-grey.svg');
}
#event_category_developpement_durable:checked + label {
  background-image: url('Developpement durable-colored.svg');
}

#event_category_solidarité + label {
  background-image: url('Solidarité-w.svg');
}
#event_category_solidarité + label:hover {
  background-image: url('Solidarité-grey.svg');
}
#event_category_solidarité:checked + label {
  background-image: url('Solidarité-colored.svg');
}

#event_category_santé + label {
  background-image: url('Santé-w.svg');
}
#event_category_santé + label:hover {
  background-image: url('Santé-grey.svg');
}
#event_category_santé:checked + label {
  background-image: url('Santé-colored.svg');
}

#event_category_petite_enfance + label {
  background-image: url('Petite enfance-w.svg');
}
#event_category_petite_enfance + label:hover {
  background-image: url('Petite enfance-grey.svg');
}
#event_category_petite_enfance:checked + label {
  background-image: url('Petite enfance-colored.svg');
}

#event_category_dialogue_citoyen + label {
  background-image: url('Dialogue citoyen-w.svg');
}
#event_category_dialogue_citoyen + label:hover {
  background-image: url('Dialogue citoyen-grey.svg');
}
#event_category_dialogue_citoyen:checked + label {
  background-image: url('Dialogue citoyen-colored.svg');
}

#event_category_commémoration + label {
  background-image: url('dove-solid-w.svg');
}
#event_category_commémoration + label:hover {
  background-image: url('dove-solid-grey.svg');
}
#event_category_commémoration:checked + label {
  background-image: url('dove-solid-colored.svg');
}

#event_category_autre + label {
  background-image: url('Autre-w.svg');
}
#event_category_autre + label:hover {
  background-image: url('Autre-grey.svg');
}
#event_category_autre:checked + label {
  background-image: url('Autre-colored.svg');
}

.form-check-label {
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 96px;
}
