.form-container-global {
  align-items: center;
  flex-direction: column;
  h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .fa-map-marker-alt, .fa-info-circle, .fa-file-signature, .fa-phone-alt {
    font-size: 2rem;
    display: grid;
    place-content: center;
    margin-bottom: 1.5rem;
    color: $primary-orange;
  }
}

.form-container {
  border: 1px solid $primary-orange;
  border-radius: 10px;
  width: 45vw;
  min-height: 36rem;
  margin: 30px;
  padding: 0.8rem 2.5rem;
  background-color: white;
}


.btn-form {
  margin: 1rem;
  background-color: $primary-orange;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  &:hover {
    color: white;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 100%;
  padding:20px;
}

///////////////////////////////////////////////
.input-half-width {
  display: flex;
  margin: 4px;
}

.form-input img {
  width:100%;
  display:none;
  margin-bottom:30px;
}

.form-input input {
  display:none;
}

.form-input label {
  display:block;
  width:140px;
  height:45px;
  line-height:50px;
  text-align:center;
  background:white;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor: pointer;
}

// CATEGORIES
.form-container-category {

  .category-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    :last-child {
      grid-column: 2;
    }
  }

  .category-item {
    display: grid;
    place-content: center;
  }

  .category-selector {
    transform: scale(0);
  }

  .category-selector + label {
    cursor: pointer;
    height: 90px;
    width: 110px;
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: top 10px right 33px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px lightgrey;
  }

  /////////////// ICONES CATEGORIES /////////////////

  #event_category_culture + label {
  background-image: image_url('Culture-grey.svg');
  }

  #event_category_culture + label:hover {
    background-image: image_url('Culture-colored.svg');
  }

  #event_category_culture:checked + label {
    background-image: image_url('Culture-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_sport + label {
    background-image: url('Sport-grey.svg');
  }

  #event_category_sport + label:hover {
    background-image: url('Sport-colored.svg');
  }

  #event_category_sport:checked + label {
    background-image: url('Sport-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_education-jeunesse + label {
    background-image: url('Education-Jeunesse-grey.svg');
  }

  #event_category_education-jeunesse + label:hover {
    background-image: url('Education-Jeunesse-colored.svg');
  }

  #event_category_education-jeunesse:checked + label {
    background-image: url('Education-Jeunesse-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_developpement_durable + label {
    background-image: url('Developpement_durable-grey.svg');
  }

  #event_category_developpement_durable + label:hover {
    background-image: url('Developpement_durable-colored.svg');
  }

  #event_category_developpement_durable:checked + label {
    background-image: url('Developpement_durable-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_solidarité + label {
    background-image: url('Solidarité-grey.svg');
  }

  #event_category_solidarité + label:hover {
    background-image: url('Solidarité-colored.svg');
  }

  #event_category_solidarité:checked + label {
    background-image: url('Solidarité-colored.svg');
    border: 2px solid $primary-orange;
  }

  #event_category_santé + label {
    background-image: url('Santé-grey.svg');
  }

  #event_category_santé + label:hover {
    background-image: url('Santé-colored.svg');
  }

  #event_category_santé:checked + label {
    background-image: url('Santé-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_petite_enfance + label {
    background-image: url('Petite_enfance-grey.svg');
  }

  #event_category_petite_enfance + label:hover {
    background-image: url('Petite_enfance-colored.svg');
  }

  #event_category_petite_enfance:checked + label {
    background-image: url('Petite_enfance-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_dialogue_citoyen + label {
    background-image: url('Dialogue_citoyen-grey.svg');
  }

  #event_category_dialogue_citoyen + label:hover {
    background-image: url('Dialogue_citoyen-colored.svg');
  }

  #event_category_dialogue_citoyen:checked + label {
    background-image: url('Dialogue_citoyen-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_commémoration + label {
    background-image: url('dove-solid-grey.svg');
  }

  #event_category_commémoration + label:hover {
    background-image: url('dove-solid-colored.svg');
  }

  #event_category_commémoration:checked + label {
    background-image: url('dove-solid-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }

  #event_category_autre + label {
    background-image: url('Autre-grey.svg');
  }

  #event_category_autre + label:hover {
    background-image: url('Autre-colored.svg');
  }

  #event_category_autre:checked + label {
    background-image: url('Autre-colored.svg');
    transition: background-image 0.6s linear;
    border: 2px solid $primary-orange;
  }


  .form-check-label {
    color: grey !important;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
  }
}

// SAFETY
.form-container-security {

  .safety_levels-selector {
    transform: scale(0);
  }

  .safety_levels-selector + label {
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    color: red !important;
    border-radius: 10px;
    padding: 0.8em;
    margin: 4px;
  }

  .safety_levels-selector:checked + label {
    background: rgb(255, 134, 134);
    color: white !important;
    transition: all 0.6s ease-in-out;
  }
}

.min-height-form {
  min-height: 65vh;
}
