.log-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary-orange;
  border-radius: 10px;
  box-shadow: black;
  width: 80vh;
  margin: 30px;
  background-color: white;
  padding: 30px 20px;
  h2 {
    color: $primary-orange;
  }
}

.log-container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
