.navbar {
  justify-content: space-between;
  background: white;
  width: 100vw;
  margin: auto;
  .navbar-brand {
    color: $primary-orange;
    font-family: $primary-font;
    font-size: 2.5em;
  }
  .navbar-link {
    color: $primary-blue;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
  }

  .nav-admin-events {
    display: flex;
    align-items: center;
    span {
      margin-top: 0.1rem;
      margin: 0.2rem;
      font-weight: 900;
      color: white;
      font-weight: 900;
      font-size: .8rem;
      padding: .4rem .6rem;
      background-color: #0F2C67;
      border-radius: 50%;
      line-height: 1;

    }
  }

  .new-event {
    border: 1px solid #0F2C67;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      border: 1px solid $primary-orange;
      color: $primary-orange;
      transition: 0.2s;
    }
  }

}

li {
  list-style: none;
}

.inactive-link {
  opacity: 0.7;
  &:hover {
    transition: 0.2s;
    opacity: 1;
  }
}

.active-link {
  font-weight: bold;
  opacity: 1;
  transition: 0.2s;
  a {
    color: $primary-orange !important;
    transition: 0.2s;
  }
  span {
    background-color: $primary-orange !important;
    transition: 0.2s;
  }
}
