
.list-participants {
  display: none;
  padding: 5px;
  border: 1px lightyellow solid;
  border-radius: 10px;
  background-color: lightyellow;
  position: absolute;
  bottom: 100px;
  right: 80px;
  font-size: 0.8rem;
  p {
    margin-bottom: 0;
  }
}

.participants:hover + .list-participants {
  display: block;
}

    .participants {
  position: relative;
  background-color: #7979DE;
  border-radius: 10px;
  width: 5rem;
  .fa-users {
    color: white;
  }
}

.i-not-participate {
  background-color: #94BF1A;
  border: #94BF1A 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  width: 9rem;
  a {
    color: black;
    text-decoration: none;
  }
}

.i-participate {
  border: #94BF1A 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  width: 9rem;
  a {
    text-decoration: none;
    color: #94BF1A;
  }
}
