.accepted {
  background-color: rgb(113, 255, 113);
}

.pending {
  background-color: orange;
}

.declined {
  background-color: rgb(238, 79, 79);

}

.status {
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.edit-status {
  width: 13rem;
  height: 8rem;
}

.status-event {
  align-items: center;
  p {
    margin: 0;
    font-size: 0.9rem;
    padding-right: 1em;
  }
  i {
    height: 12px
  }
}
